# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Local env files
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db